/*
Hover color pantone rojo #E0004D
Hover color pantone azul #041C2C
Hover color pantone gris #D9D9D6
*/

/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: white;
    color:#555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;    
}
/* ---------- HEADINGS ------------ */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 150%;
    font-weight: lighter;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    word-spacing: 4px;
}

/* ------------ BOTONES ---------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #34495e; 
    border: 1px solid #34495e;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #34495e;
    color: #34495e;
}

.btn:hover,
.btn:active {
    background-color: #3472b1;
    
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #3472b1;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #3472b1;
    color: white;
}

/* -------------------------------- */
/* HEADER */
/* -------------------------------- */

header {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(img/wallpaper.jpg);*/
    background-color: #041C2C;
    /*background-size: cover;*/
    /*background-position: center;*/
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:40%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 45px;
    width: auto;
    float: left;
    margin-top: 20px;
    /*margin-left: 15px;*/
}
.navheader{
    text-align:center;
}
.logoG {
    display: inline-block;
    height: 25px; 
    margin-top: 30px;
    margin-left: 11%;
    margin-right: auto;
}

.main-nav {
    float: right;
    list-style: none; 
    margin-top: 30px;    
}

.main-nav li {
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #E0004D;
}

/* iconos */
.iconos{    
    text-align: center;
    margin-top: 35%;
}
.social-links {    
    list-style: none;
    display: inline-block;
}

.social-links li {
    display: inline;
    margin-right: 20px;
}
.social-links li:last-child{
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 160%;
}

.facebook-icon,
.twitter-icon,
.google-icon,
.instagram-icon {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.facebook-icon:hover{
    color: #E0004D;
}
.twitter-icon:hover{
    color: #0077B5;
}
.google-icon:hover{
    color: #D44638;
}
.instagram-icon:hover{
    color: #25D366;
}